@using PagedList.Mvc;
@model PagedList.IPagedList<Web_Selling_Laptop.Models.Laptop>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Style/trangchu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4498488328.js" crossorigin="anonymous"></script>
    <title>Trang chủ</title>
</head>
<body>

    <!-- Body -->
    <section class="body">
        <div class="container">
            <div id="row-1" class="row">
                <div class="col-8">
                    @*<div class="banner__big">
                            <img class="banner__img"
                                 src="https://laptopangiang.com/wp-content/uploads/2022/03/banner3-787x300-1.png"
                                 alt="banner" />
                        </div>*@
                    <div style="height:100%;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="banner__img" src="https://laptopangiang.com/wp-content/uploads/2022/03/banner3-787x300-1.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="banner__img" src="https://media-api-beta.thinkpro.vn/media/core/banners/2022/11/15/Untitled-1.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="banner__img" src="https://media-api-beta.thinkpro.vn/media/core/banners/2022/9/6/866x374-7.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cards">
                        <div class="card">
                            <h5>Miễn phí vẫn chuyển</h5>
                            <p>100% đơn hàng đều được miễn phí vận chuyển khi thanh toán trước.</p>
                        </div>
                        <div class="card">
                            <h5>Bảo hành tận tâm</h5>
                            <p>Bất kể giấy tờ thế nào, ThinkPro luôn cam kết sẽ hỗ trợ khách hàng tới cùng.</p>
                        </div>
                        <div class="card">
                            <h5>Đổi trả 1-1 hoặc hoàn tiền</h5>
                            <p>Nếu phát sinh lỗi hoặc bạn cảm thấy sản phẩm chưa đáp ứng được nhu cầu.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Quảng cáo-->
            <div id="row-3" class="row">
                <div class="advertise_container">
                    <img class="advertise_image" alt="quangcao" src="https://thinkpro.vn/online-only-banner.png" />
                </div>
            </div>
            <!-- Thương hiệu -->
            <div id="row-2" class="row">
                <div class="col">
                    <h5>
                        Thương hiệu</h2>
                        <div class="brand__list">
                            <div class="brand__card">
                                <img class="brand__img"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Dell_Logo.png/1200px-Dell_Logo.png"
                                     alt="brand">
                            </div>
                            <div class="brand__card">
                                <img class="brand__img"
                                     src="https://laptoptragop.vn/uploads/Tin%20t%E1%BB%A9c/Lenovo/Lenovo_logo.png"
                                     alt="brand">
                            </div>
                            <div class="brand__card">
                                <img class="brand__img"
                                     src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
                                     alt="brand">
                            </div>
                            <div class="brand__card">
                                <img class="brand__img"
                                     src="https://cdn-icons-png.flaticon.com/512/5969/5969002.png"
                                     alt="brand">
                            </div>
                            <div class="brand__card">
                                <img class="brand__img"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Gigabyte_Technology_logo_20080107.svg/2560px-Gigabyte_Technology_logo_20080107.svg.png"
                                     alt="brand">
                            </div>
                            <div class="brand__card">
                                <img class="brand__img"
                                     src="https://philong.com.vn/media/brand/msi.png"
                                     alt="brand">
                            </div>
                            <div class="brand__card">
                                <img class="brand__img"
                                     src="https://cdn-icons-png.flaticon.com/512/732/732221.png"
                                     alt="brand">
                            </div>
                            <div class="brand__card">
                                <img class="brand__img"
                                     src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/acer-512.png"
                                     alt="brand">
                            </div>
                            <div class="brand__card">
                                <img class="brand__img"
                                     src="https://cdn.iconscout.com/icon/free/png-256/razer-1-285174.png"
                                     alt="brand">
                            </div>
                        </div>
                </div>
            </div>

            <!-- Tất cả laptop -->
            <div id="row-3" class="row">
                <div class="col-4">
                    <h5>Tất cả laptop</h5>
                    <div class="banner__sort">
                        <h6>Bộ lọc</h6>
                        @using (Html.BeginForm("Home", "Laptop", FormMethod.Get))
                        {
                            <div class="sort__search">
                                <input type="text" placeholder="Nhập tên cần tìm" name="SearchString" value="" id="search">
                            </div>
                            <button class="search_btn" type="submit" name="SearchButton">
                                <i  class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        }

                        <div class="sort__grp">
                            <button type="button" class="collapsible">
                                Thương hiệu <span class="fa-solid fa-plus"></span>
                            </button>
                            <div class="content">
                                <div class="sort__card">
                                    <button type="button" class="sort__item">Apple</button>
                                    <button type="button" class="sort__item">Lenovo</button>
                                    <button type="button" class="sort__item">Hp</button>
                                    <button type="button" class="sort__item">Asus</button>
                                    <button type="button" class="sort__item">Intel</button>
                                    <button type="button" class="sort__item">Asus</button>
                                    <button type="button" class="sort__item">Intel</button>
                                    <button type="button" class="sort__item">Asus</button>
                                    <buttonx type="button" class="sort__item">Intel</buttonx>
                                </div>
                            </div>
                        </div>
                        <div class="sort__grp">
                            <button type="button" class="collapsible">
                                CPU <span class="fa-solid fa-plus"></span>
                            </button>
                            <div class="content">
                                <div class="sort__card">
                                    <button type="button" class="sort__item">Apple</button>
                                    <button type="button" class="sort__item">Lenovo</button>
                                    <button type="button" class="sort__item">Hp</button>
                                    <button type="button" class="sort__item">Asus</button>
                                    <button type="button" class="sort__item">Intel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8" style="margin:0px;padding:0px;">

                    <div class="product__sort"></div>
                    <div class="product__list">
                        @foreach (var item in Model)
                        {
                            <a href="@Url.Action("Details", "Laptop", new { id=item.LaptopId })">
                                <div class="product__item">
                                    <div class="row">
                                        <img src="@item.ImgPath"
                                             alt="#">
                                    </div>
                                    <div class="row" style="padding:8px;">
                                        <div class="product__description">
                                            <p style="inline-size:100%" class="product__name">@item.LaptopName</p>
                                            <span style="font-size:12px;color:gray">Từ </span><span class="product__price">@item.Price.ToString("#,##0").Replace(',', '.') VNĐ</span>
                                            <div style="padding-top:12px;">
                                                <a style="margin:auto;" href="/ShoppingCart/AddToCart/@item.LaptopId" class="btn btn-danger"> Thêm vào giỏ </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>



                        }
                    </div>
                    @*Pagination*@
                    <div class="pagination-view">
                        <!-- Thêm đoạn mã để hiển thị số trang và số trang hiện tại -->
                        @*  Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
                        <!--Control PagedListPager: mô tả mô hình với số trang là liên kết với tham số "Index" và tham số page-->
                        @Html.PagedListPager(Model, page => Url.Action("Home", new { page }))

                    </div>

                </div>
            </div>
        </div>
    </section>

</body>

@*<script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>*@


</html>
<!-- Script -->
@Scripts.Render("~/bundles/jquery")
<script>
@*    $('[name="SearchButton"]').click(function (event) {
        event.preventDefault();
    });*@
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>